{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <h2>Alle Artikel</h2>
            <ul>
                {% for article in articles %}
                    <li><a href="{{ path('article', {'id': article.id}) }}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8">
            <h1>{{ articles[0].title }}</h1>
            <div class="article-content"><p>{{ articles[0].content }}</p></div>
        </div>
    </div>
{% endblock %}
