{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h1>{{ article.title }}</h1>
            <div class="article-content">
                {{ article.content | raw }}
            </div>
        </div>
    </div>
{% endblock %}
