{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h1>{{ article.title }}</h1>
            <div class="article-content">
                {{ article.content | raw }}
            </div>
        </div>
        <div class="col-md-4">
            {% if polyLine is defined %}
                <div data-controller="googlemap"
                     data-googlemap-summary-polyline-value="{{ polyLine['summary'] }}"
                     data-googlemap-polyline-value="{{ polyLine['full'] }}">

                    <div id="map" class="googlemap"></div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
