{% extends 'contentpage.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-7">
                <div class="article-content">
                    {{ article.content | raw }}
                </div>
            </div>
            <div class="col-5">
                {% if polyLine is defined %}
                    <div data-controller="googlemap"
                         data-googlemap-summary-polyline-value="{{ polyLine['summary'] }}"
                         data-googlemap-polyline-value="{{ polyLine['full'] }}">

                        <div id="map" class="googlemap"></div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
