{% extends 'contentpage.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-8">
                <div class="article-content">
                    {{ article.content | raw }}
                </div>
            </div>
            <div class="col-4">
                {% if polyLine is defined %}
                    <div data-controller="googlemap"
                         data-googlemap-summary-polyline-value="{{ polyLine['summary'] }}"
                         data-googlemap-polyline-value="{{ polyLine['full'] }}"
                         data-googlemap-zoom-value="12"
                         data-googlemap-height-value="240px">

                        <div id="map" data-googlemap-target="mapview"></div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
