{%  extends 'base.html.twig' %}

{% block body %}


    <h1>Test strava api calls</h1>
    {{ form(form) }}
    {% if stravaData is defined and app.environment == 'dev' %}
        {% if app.environment == 'dev' %}
            {{ dump(stravaData) }}
            {% if latestActivity %}
                <div data-controller="googlemap"
                     data-googlemap-summary-polyline-value="{{ stravaData.map.summary_polyline }}"
                     data-googlemap-polyline-value="{{ stravaData.map.polyline }}">

                    <div id="map" class="googlemap"></div>
                </div>
            {% endif %}
        {% else %}
            data
        {% endif %}
    {% endif %}
{% endblock %}