{%  extends 'base.html.twig' %}

{% block body %}


    <h1>Test strava api calls</h1>
    {{ form(form) }}
    {% if stravaData is defined and app.environment == 'dev' %}
        {% if app.environment == 'dev' %}
            {{ dump(stravaData) }}
        {% else %}
            data
        {% endif %}
    {% endif %}
{% endblock %}